.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip
face_generation/data/
image/
.ipynb_checkpoints/
dogImages/
lfw/
bottleneck_features/
home_data.gl/
amazon_baby.gl/
kc_house_data.gl/
lending-club-data.gl/
amazon_baby_subset.gl/
people_wiki.gl/
images.sf/
kmeans-arrays.npz

*.pickle
*.pyc
*.p
*.pkl
*.zip 
*.npy

*/.floyd*

R Related
.Rhistory
.Rproj.user

# data files
*.csv
*.txt
*.h5
