.DS_Store

# Ignore downloaded datasets
embeddings/data/
embeddings/text8.zip
face_generation/data/
image/
.ipynb_checkpoints/
dogImages/
lfw/
bottleneck_features/

*.pickle
*.pyc
*.p
*.pkl
*.zip 
*.npy

*/.floyd*

R Related
.Rhistory
.Rproj.user

# data files
*.csv
*.txt
*.h5
